
:root {
    --primary-color: #b11d3a;
    --primary-color2: #262626;
    --primary-color3: #ffffff;
    --primary-bg: #efefef;
    --primary-color5: #FFDCDE;
    --primary-color6: #181818;
    --primary-color7: #FFEBEB
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
span {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-family: 'Franklin Gothic   ';

}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav
 {
    display: block;
    
}

body{
    background-color: var(--primary-bg);
    display: block
}
 #page {
    z-index: 1;
    width: 93%;
    margin: 0;
    height: 100%;
    display: block;
    
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .02);
    -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .02);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .02)
}
#site-header-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 8vh;
    align-items: center;
    justify-content: center;
    background-color: #fff;

}
.btn{
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 20vh;
    text-align: center;
    position: absolute  ;
    background: var(--primary-color);
    border-radius: 8vh;
    color: #efefef;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
.btn a{
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #efefef;
    font-size: 3vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

#site-header {
    position: relative;
    top: 12vh;

}
.main-logo {
    float: left;
    max-width: 100%;
    line-height: 100px;
    margin-left: 15vh;
    padding-right: 14vh;
}

.main-nav {
    float:center;
    position: relative;
    bottom: 6vh;
}
.main-nav ul {
    margin:  0;
    float:center;
}
.main-nav ul li {
    position: relative;
    list-style: none
}

.main-nav>ul>li {
    float: left;
    padding: 0 30px
}

.main-nav .menu-right {
    /* float: right;
    margin-top : 12px; */
    padding: 0 70px;
    margin:0 9vh ;

    
}

.main-nav .menu-right #menu-item-btn{
    justify-content: center;
    background: var(--primary-color);
    position: relative;
    top: 12vh;
    border-radius: 5vh ;
    height: 7vh;
    width: 8vh; 
    
}

.main-nav .menu-right>#menu-item-btn>a{
    /* 
    position: relative;*/
    align-items: center; 
    position: relative;
    bottom: 7vh;
    color: #fff;
    
    
       

 }
 .plak{
    font-size: 3rem;
    font-weight: 700;
 }

.main-nav>ul>li>a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #101010;
    position: relative;
    line-height: 148px;
    text-decoration: none;
}

.main-nav>ul>li>a::before {
    content: "";
    position: absolute;
    bottom: 45px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--primary-color);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
   
}

.main-nav>ul>li>a:hover::before {
    opacity: 1;
    visibility: visible;
    width: 100%
}

main{
    display: block;
}

section {
    display: block;
    margin:  18% 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    background: #efefef;
}

section .row {
    display: block;
    margin-top: 12vh;
    
  
}
section .row h1{
    font-size: 7vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    color: var(--primary-color);
}


/* .col-2{-webkit-box-flex:0;
    -webkit-flex:0 0 16.666667%;
    -ms-flex:0 0 16.666667%;
    flex:0 0 16.666667%;
    max-width:16.666667%
} */

   
@keyframes move2 {
    0% {
        -webkit-transform: rotate( 11deg) translate(12px, 12px);
        transform: rotate( 11deg) translate(12px, 12px)
    }
    50% {
        -webkit-transform: rotate( -11deg) translate(-12px, -12px);
        transform: rotate( -11deg) translate(-12px, -12px)
    }
    100% {
        -webkit-transform: rotate( 11deg) translate(12px, 12px);
        transform: rotate( 11deg) translate(12px, 12px)
    }
}


h1 {
    color: #333;
}

#task-form {
    margin-top: 20px;
}

input, select, button {
    margin: 5px;
    padding: 5px;
}

 .cloak ul {
    list-style-type: none;
    padding: 0;
}

.cloak li {
    border: 1px solid #ddd;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    background-color: #8BC34A;
    color: white;
}

    #fout {

        align-items: center;
        margin-top:  432%;
        position: absolute;
        background: var(--primary-color3);
        width: 100%;
        height: 72vh;
        }
    
        
    #fout .blog {
    
        align-items: center;
        justify-content: center;
        margin-top:  6%;
        position: relative;
        background:black;
        width: 100%;
        height:  66vh;
        display: flex;
        margin-right: 3vh;
    
        }
    
    #fout .blog  .static{
    
        align-items: center;
        text-align: left;
        margin-top:  2%;
        position:relative;
        display: block;
        margin: 7vh;
        font-size: 5vh;
        color: #efefef;
    
        }
        
    #fout .blog  .static span{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }   
    
    #fout .blog  .static p{
    
        font-size: 3vh;
        display: block;
        
    
        }
    #fout .blog  .static p a {
        width: 40vh;
        margin: 3vh 0;
        font-size: 3vh;
        display: block;
        color: #d2c9c9;
        text-decoration: none;
        
    }
    #fout .blog  .static .newslet {
    
        font-size: 3vh;
        margin-top: 8vh ;
        
    
        }

    #fout .blog  .static .newslet p{
    
        font-size: 3vh;
        display: flex;
       
        
    
}
    #fout .blog  .static p input{
    
        font-size: 3vh;
        display: flex;
        width: 26vh;
        height: 6vh;
        border-top-left-radius:1vh ;
        border-bottom-left-radius:1vh ;
        
        
    
        }


    #fout .blog  .static p button{
    
        font-size: 3vh;
        display: block;
        width: 12vh;
        height: 7vh;
        border-top-right-radius:1vh ;
        border-bottom-right-radius:1vh ;
        background:var(--primary-color);
        color: #fff;
        position: relative;
        left: 27vh ;
        bottom: 6.8vh;

        
    
        }

    #fout .blog  .static img{
    
        font-size: 3vh;
        display: block;
        width: 25vh;
        position: relative;
        bottom: 6.8vh;

        
    
        }
.fout ul {
    width: 60%;
    margin: 1vh -4vh;
    display: flex;
    justify-content: space-around;
}
.fout ul li {
    padding: 40px 0;
    list-style: none

}
.fout ul li a {
    color: var(--primary-color);
    margin-left: 4vh;
}

.fout ul li a i {
    font-size: 30px;
   

}

  
#partenair {

    align-items: center;
    margin-top:  382%;
    position: absolute;
    background: var(--primary-color3);
    width: 100%;
    height: 130vh;
    }

    
#partenair .blog {

    align-items: center;
    justify-content: center;
    margin-top:  6%;
    position: relative;
    background:url(../img/espon/main.jpeg);
    width: 100%;
    height:  80vh;
    display: flex;
    margin-right: 3vh;

    }
   
    footer {

        align-items: center;
        margin-top:  463%;
        position: absolute;
        width: 100%;
        }
    
        
    footer .blog {
    
        align-items: center;
        justify-content: center;
        margin-top:  6%;
        position: relative;
        background:var(--primary-color);
        width: 100%;
        height:  12vh;
        display: flex;
        margin-right: 8vh;
    
        }
    
    footer .blog  .static{
    
        align-items: center;
        text-align: left;
        margin-top:  2%;
        position:relative;
        display: block;
        margin: 29vh;
        font-size: 5vh;
        width: 100%;
        color: #efefef;
    
        }
        
    footer .blog  .static span{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }   
    
    footer .blog  .static p{
    
        font-size: 3vh;
        display: block;
        width: 10%;

        
    
        }
    footer .blog  .static p a {
        width: 70vh;
        font-size: 3vh;
        display: block;
        color: #ffffff;
        text-decoration: none;
        
    }
   
    
    
    










   
    
